[

    {"title": "PROJECT #1", "probability": 30, "time": 120, "priority": 1},

    {"title": "PROJECT #2", "probability": 20, "time": 120, "priority": 2},

    {"title": "PROJECT #3", "probability": 20, "time": 120, "priority": 3},

    {"title": "PROJECT #4", "probability": 20, "time": 120, "priority": 4},

    {"title": "PROJECT #5", "probability": 10, "time": 60, "priority": 5}

]